{% extends 'base.html' %}

{% block title %}Add New Agent{% endblock %}

{% block content %}
    <div class="add-agent-container">
        {% if error_message %}
            <p class="error-message">Please fill in all fields correctly.</p>
        {% else %}
            <p>Input information about the new agent:</p>
        {% endif %}
        <form class="form-group" method="POST">
            <div class="form-group">
                <label>Name <a href="/random">(get random one)</a>:</label>
                <input type="text" name="name" value="{{ random_name }}" required>
            </div>
            <div class="form-group">
                <label>Phone Number:</label>
                <input type="number" name="number" required>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" name="email" required>
            </div>
            <div class="form-group">
                <label>Choose the secrecy level:</label>
                <select name="level">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
            <button type="submit">Add Agent</button>
        </form>
    </div>
{% endblock %}