{% extends 'base.html' %}

{% block title %}Agents{% endblock %}

{% block content %}
    <div>
        <h1>Agents List</h1>

        <div>
            <ul>
                {% for agent in agents %}
                <li>
                    <a href="{{ url_for('show_agent', id=agent.id) }}">{{ agent.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <a href="{{ url_for('add_agent') }}" class="btn btn-success">Add New Agent</a>
        </div>
    </div>
{% endblock %}