{% extends 'base.html' %}

{% block title %}Agents{% endblock %}

{% block content %}
    <div class="agents-container">
        <h2>Agents List</h2>
        <form class="form-group" method="GET" action="/agents">
            <div class="form-group">
                <input type="text" name="search" placeholder="Enter agent name">
                <button type="submit">Find</button>
            </div>
        </form>
        <ul class="agent-list">
            {% for agent in agents %}
                <li class="agent-item">
                    <a href="/agent/{{ agent.id }}">{{ agent.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('add_agent')}}">Add New Agent</a>
    </div>
{% endblock %}