{% extends 'base.html' %}

{% block title %}Edit {{ name }}{% endblock %}

{% block content %}
    <div class="edit-agent-container">
        {% if error_message %}
            <p class="error-message">Please fill in all fields correctly.</p>
        {% else %}
            <p>Update information about the agent №{{ id }} - <a href="/agent/{{ id }}">{{ name }}</a>:</p>
        {% endif %}
        <form class="form-group" method="POST">
            <div class="form-group">
                <label>New Name:</label>
                <input type="text" name="name" value="{{ name }}" required>
            </div>
            <div class="form-group">
                <label>New Phone Number:</label>
                <input type="number" name="number" value="{{ number }}" required>
            </div>
            <div class="form-group">
                <label>New Email:</label>
                <input type="email" name="email" value="{{ email }}" required>
            </div>
            <div class="form-group">
                <label>Choose New Secrecy Level (previous one - {{ level|capitalize }}):</label>
                <select name="level">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
            <button type="submit">Update Agent</button>
        </form>
    </div>
{% endblock %}